# virtual environment
env/

# gurobi log
gurobi.log

# cython build file
build/
*.so
*.cpp
*.html

# python build file
__pycache__/

# problem data, topo picture
*.lp
*.png

# homemade data
dataset/fattree
